@media (max-width: 1500px) {
  .header__nav-list li a {
    font-size: 12px;
    line-height: 16px;
  }
  .header__nav {
    margin-right: 20px;
  }
  .social li a {
    width: 30px;
    height: 30px;
    background-size: 15px 15px;
  }
  .header__social {
    margin-right: 20px;
  }
  .btn {
    padding: 15px 30px;
  }
  .header__logo,
  .footer__logo {
    width: 100px;
  }
  .header__wrapper {
    padding: 30px 0;
  }
  .scroll-top {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1420px) {
  .container {
    max-width: 90%;
    padding: 0;
  }
  .order__container {
    padding-left: 5%;
    padding-right: 5%;
    max-width: 90%;
  }
  .scroll-top {
    right: 5%;
  }
}

@media (max-width: 1279px) {
  .header__nav {
    position: absolute;
    /* top: 50px; */
    left: 0;
    width: 100%;
    background-color: #141414;
    margin: 0;
    display: flex;
    justify-content: center;
    z-index: 5;
    padding: 15px 0;
  }
  .header__wrapper {
    padding-top: 20px;
    padding-bottom: 0;
  }
}

@media (max-width: 1180px) {
  .tasks__item-wrap {
    width: 100%;
  }

  .tasks__item-wrap:not(:last-of-type) {
    margin-bottom: 60px;
  }

  .tasks__item-title {
    min-height: auto;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .footer-top__inner {
    flex-wrap: wrap;
  }
  .footer__map {
    max-width: none;
  }
  .footer__contacts {
    max-width: none;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 1023px) {
  .order__btn {
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 980px) {
  .photos__row {
    flex-wrap: wrap;
  }
  .photos__content {
    margin: 0;
    max-width: none;
    margin-bottom: 20px;
  }
  .photos__gallery {
    max-width: none;
  }  
  .photos__row.reverse .photos__content {
    order: -1;
    margin: 0;
    margin-bottom: 20px;
  }
  .photos__content-title {
    line-height: 24px;
  }
  
}

@media (max-width: 750px) {
  .header__wrapper {
    padding: 15px 0;
  }

  .header__social {
    margin: 0;
    margin-bottom: 20px;
  }

  .header__social li:not(:last-of-type) {
    margin-right: 25px;
  }

  .social li a {
    width: 40px;
    height: 40px;
    background-size: auto;
  }
  
  .header__nav {
    position: unset;
    padding: 0;
    margin-bottom: 20px;
  }
  .mobile__menu-block {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    padding: 10px 5%;
    background-color: #141414;
    flex-direction: column;
    height: 100%;
    transform: translateX(-100%);
    overflow-x: hidden;
    overflow-y: auto;
    transition: .3s;
    padding-bottom: 100px;
  }

  .mobile__menu-block.opened {
    transform: translateX(0);
  }

  .header__nav-list {
    flex-direction: column;
  }
  .header__nav-list li:not(:last-of-type) {
    margin: 0;
    margin-bottom: 10px;
  }
  .header__nav-list li a {
    font-size: 18px;
    line-height: 20px;
  }
  .header__left-block .header__contacts {
    display: none;
  } 
  .header__contacts {
    text-align: center;
  }

  .header__contacts a {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .mobile__hamburger {
    display: block;
    margin-left: 20px;
    -webkit-tap-highlight-color: transparent;
    width: 25px;
    height: 18px;
    position: relative;
  }

  .mobile__hamburger span {
    width: 100%;
    background: #9586E0;
    display: block;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    top: 0;
}

.mobile__hamburger span:nth-child(2) {
  top: 7px;
}

.mobile__hamburger span:nth-child(3) {
  top: 14px;
}

.mobile__hamburger.opened span:nth-child(1) {
  -webkit-transform: rotate(45deg) translateX(-5px) translateY(13px);
  -ms-transform: rotate(45deg) translateX(-5px) translateY(13px);
  transform: rotate(45deg) translateX(-5px) translateY(13px);
}

.mobile__hamburger.opened span:nth-child(2) {
  display: none;
}

.mobile__hamburger.opened span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateX(-3px) translateY(-15px);
  -ms-transform: rotate(-45deg) translateX(-3px) translateY(-15px);
  transform: rotate(-45deg) translateX(-3px) translateY(-15px);
}

.intro__title {
  font-size: 20px;
  margin-bottom: 20px;
  padding: 0 5px;
}

.intro,
.tasks,
.ticker__text,
.order {
  margin-bottom: 60px;
}
.tasks__title,
.photos__title {
  margin-bottom: 30px;
}

.footer-bottom__inner {
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}



.footer__logo {
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
}

.footer__privacy {
  margin: 0;
  margin-bottom: 15px;
}

.footer__privacy a {
  margin: 0;
  display: block;
}

.footer__socail {
  width: 100%;
  justify-content: center;

}
.footer__privacy a:not(:last-of-type) {
  margin: 0;
}

}


@media (max-width: 600px) {
  .section__title {
    line-height: 37px;
  }
  
  .section__title.center span {
    padding: 0;
  }
  
  .section__title span:not(:first-of-type) {
    margin: 0;
    margin-left: -9px;
    padding-left: 9px;
  }


  
  .section__title span {
    display: initial;
    padding: 0;
    background: #3E3A53;
  }

  .section__title span::after {
    content: none;
  }
}

@media (max-width: 500px) {
  .section__title {
    font-size: 22px;
    line-height: 30px;
  }
  .order__container {
    padding-left: 3%;
    padding-right: 3%;
  }
  .order__container .section__title {
    max-width: 320px;
  }
  .order__btn .btn {
    width: 100%;
  }
}


@media (max-width: 380px) {
  .btn {
    font-size: 12px;
    line-height: 14px;
    padding: 15px 20px;
  }
  .header__logo {
    margin-right: 10px;
  }
}